@page
@model PizzaStore.Pages.Products.ProductDetailsModel

@{
    ViewData["Title"] = "ProductDetails";
}

<h1>ProductDetails</h1>

<div>
    <h4>ProductRecord</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductRecord.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductRecord.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductRecord.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductRecord.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductRecord.ProductDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductRecord.ProductDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductRecord.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductRecord.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductRecord?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
